# Building a class for a player
I think that it would be very useful for us to wrap the functionality of the analysis into a class; one that we can just pass the link to the page and then we have access to all their details.

In [19]:
# Required imports
import requests
import pandas as pd
from bs4 import BeautifulSoup

### Initial workings
This notebook contains the workings of getting to the class, and I will save a version of the class in a `.py` file ([here](../CricketPlayer.py))as well so we can easily import that into other notebooks later.

In [20]:
class CricketPlayer:
    def __init__(self, innings_by_innings_link):
        self.link = innings_by_innings_link
        self.soup = BeautifulSoup(requests.get(innings_by_innings_link).text, features="html.parser")
        
    def view_raw_html(self):
        return(self.soup)
    
    def innings(self):
        for caption in self.soup.find_all('caption'):
            if caption.get_text() == 'Innings by innings list':
                main_table = caption.find_parent('table', {'class': 'engineTable'})
                
        columns = [header.get_text() for header in main_table.find('thead').find_all('tr')[0].find_all('th')]
        rows = []

        for innings in [row for row in main_table.find('tbody').find_all('tr')]:
            rows.append([stat.get_text() for stat in innings.find_all('td')])
            
        return(pd.DataFrame(rows, columns=columns))

In [21]:
virat_kohli = 'http://stats.espncricinfo.com/ci/engine/player/253802.html?class=1;template=results;type=allround;view=innings'
steve_smith = 'http://stats.espncricinfo.com/ci/engine/player/267192.html?class=1;template=results;type=allround;view=innings'
kane_williamson = 'http://stats.espncricinfo.com/ci/engine/player/277906.html?class=1;template=results;type=allround;view=innings'
joe_root = 'http://stats.espncricinfo.com/ci/engine/player/303669.html?class=1;template=results;type=allround;view=innings'

In [22]:
root = CricketPlayer(joe_root)

In [23]:
innings = root.innings()
innings

,Inns,Score,Overs,Conc,Wkts,Ct,St,,Opposition,Ground,Start Date,
0,1,73,-,-,-,-,-,,v India,Nagpur,13 Dec 2012,Test # 2066
1,2,-,1.0,5,0,0,0,,v India,Nagpur,13 Dec 2012,Test # 2066
2,3,20*,-,-,-,-,-,,v India,Nagpur,13 Dec 2012,Test # 2066
3,1,4,-,-,-,-,-,,v New Zealand,Dunedin,6 Mar 2013,Test # 2077
4,2,-,5.0,8,0,0,0,,v New Zealand,Dunedin,6 Mar 2013,Test # 2077
5,3,0,-,-,-,-,-,,v New Zealand,Dunedin,6 Mar 2013,Test # 2077
6,1,10,-,-,-,-,-,,v New Zealand,Wellington,14 Mar 2013,Test # 2080
7,2,-,1.0,6,0,0,0,,v New Zealand,Wellington,14 Mar 2013,Test # 2080
8,3,-,2.0,12,0,0,0,,v New Zealand,Wellington,14 Mar 2013,Test # 2080
9,1,-,2.0,5,0,0,0,,v New Zealand,Auckland,22 Mar 2013,Test # 2084
10,2,45,-,-,-,-,-,,v New Zealand,Auckland,22 Mar 2013,Test # 2084
11,3,-,DNB,-,-,1,0,,v New Zealand,Auckland,22 Mar 2013,Test # 2084
12,4,29,-,-,-,-,-,,v New Zealand,Auckland,22 Mar 2013,Test # 2084
13,1,40,-,-,-,-,-,,v New Zealand,Lord's,16 May 2013,Test # 2088
14,2,-,DNB,-,-,1,0,,v New Zealand,Lord's,16 May 2013,Test # 2088
15,3,71,-,-,-,-,-,,v New Zealand,Lord's,16 May 2013,Test # 2088
16,4,-,DNB,-,-,1,0,,v New Zealand,Lord's,16 May 2013,Test # 2088
17,1,104,-,-,-,-,-,,v New Zealand,Leeds,24 May 2013,Test # 2089
18,2,-,DNB,-,-,0,0,,v New Zealand,Leeds,24 May 2013,Test # 2089
19,3,28,-,-,-,-,-,,v New Zealand,Leeds,24 May 2013,Test # 2089
20,4,-,3.0,1,0,1,0,,v New Zealand,Leeds,24 May 2013,Test # 2089
21,1,30,-,-,-,-,-,,v Australia,Nottingham,10 Jul 2013,Test # 2090
22,2,-,DNB,-,-,1,0,,v Australia,Nottingham,10 Jul 2013,Test # 2090
23,3,5,-,-,-,-,-,,v Australia,Nottingham,10 Jul 2013,Test # 2090
24,4,-,2.0,6,1,0,0,,v Australia,Nottingham,10 Jul 2013,Test # 2090
25,1,6,-,-,-,-,-,,v Australia,Lord's,18 Jul 2013,Test # 2091
26,2,-,DNB,-,-,0,0,,v Australia,Lord's,18 Jul 2013,Test # 2091
27,3,180,-,-,-,-,-,,v Australia,Lord's,18 Jul 2013,Test # 2091
28,4,-,7.0,9,2,0,0,,v Australia,Lord's,18 Jul 2013,Test # 2091
29,1,-,4.0,18,0,0,0,,v Australia,Manchester,1 Aug 2013,Test # 2092
...,...,...,...,...,...,...,...,...,...,...,...,...
297,1,15,-,-,-,-,-,,v West Indies,Gros Islet,9 Feb 2019,Test # 2346
298,2,-,DNB,-,-,2,0,,v West Indies,Gros Islet,9 Feb 2019,Test # 2346
299,3,122,-,-,-,-,-,,v West Indies,Gros Islet,9 Feb 2019,Test # 2346
300,4,-,DNB,-,-,1,0,,v West Indies,Gros Islet,9 Feb 2019,Test # 2346
301,1,2,-,-,-,-,-,,v Ireland,Lord's,24 Jul 2019,Test # 2352
302,2,-,DNB,-,-,1,0,,v Ireland,Lord's,24 Jul 2019,Test # 2352
303,3,31,-,-,-,-,-,,v Ireland,Lord's,24 Jul 2019,Test # 2352
304,4,-,DNB,-,-,4,0,,v Ireland,Lord's,24 Jul 2019,Test # 2352
305,1,-,DNB,-,-,1,0,,v Australia,Birmingham,1 Aug 2019,Test # 2353
306,2,57,-,-,-,-,-,,v Australia,Birmingham,1 Aug 2019,Test # 2353
307,3,-,12.0,50,0,0,0,,v Australia,Birmingham,1 Aug 2019,Test # 2353
308,4,28,-,-,-,-,-,,v Australia,Birmingham,1 Aug 2019,Test # 2353
309,1,14,-,-,-,-,-,,v Australia,Lord's,14 Aug 2019,Test # 2355
310,2,-,DNB,-,-,0,0,,v Australia,Lord's,14 Aug 2019,Test # 2355
311,3,0,-,-,-,-,-,,v Australia,Lord's,14 Aug 2019,Test # 2355
312,4,-,1.0,7,0,1,0,,v Australia,Lord's,14 Aug 2019,Test # 2355
313,1,-,DNB,-,-,1,0,,v Australia,Leeds,22 Aug 2019,Test # 2357
314,2,0,-,-,-,-,-,,v Australia,Leeds,22 Aug 2019,Test # 2357
315,3,-,DNB,-,-,1,0,,v Australia,Leeds,22 Aug 2019,Test # 2357
316,4,77,-,-,-,-,-,,v Australia,Leeds,22 Aug 2019,Test # 2357
317,1,-,6.0,39,1,1,0,,v Australia,Manchester,4 Sep 2019,Test # 2360
318,2,71,-,-,-,-,-,,v Australia,Manchester,4 Sep 2019,Test # 2360
319,3,-,DNB,-,-,0,0,,v Australia,Manchester,4 Sep 2019,Test # 2360
320,4,0,-,-,-,-,-,,v Australia,Manchester,4 Sep 2019,Test # 2360
321,1,57,-,-,-,-,-,,v Australia,The Oval,12 Sep 2019,Test # 2362
322,2,-,DNB,-,-,0,0,,v Australia,The Oval,12 Sep 2019,Test # 2362
323,3,21,-,-,-,-,-,,v Australia,The Oval,12 Sep 2019,Test # 2362
324,4,-,9.0,26,2,2,0,,v Australia,The Oval,12 Sep 2019,Test # 2362
325,1,2,-,-,-,-,-,,v New Zealand,Mount Maunganui,21 Nov 2019,Test # 2367
326,2,-,10.0,31,1,0,0,,v New Zealand,Mount Maunganui,21 Nov 2019,Test # 2367