# Building a class for a player
I think that it would be very useful for us to wrap the functionality of the analysis into a class; one that we can just pass the link to the page and then we have access to all their details.

In [1]:
# Required imports
import requests
import pandas as pd
from bs4 import BeautifulSoup

### Initial workings
This notebook contains the workings of getting to the class, and I will save a version of the class in a `.py` file ([here](../CricketPlayer.py)) as well so we can easily import that into other notebooks later.  

The final version of the class is kept in that final class file linked above.

In [2]:
class CricketPlayer:
    def __init__(self, innings_by_innings_link):
        self.link = innings_by_innings_link
        self.soup = BeautifulSoup(requests.get(innings_by_innings_link).text, features="html.parser")
        
    def view_raw_html(self):
        return(self.soup)
    
    def raw_innings(self):
        for caption in self.soup.find_all('caption'):
            if caption.get_text() == 'Innings by innings list':
                main_table = caption.find_parent('table', {'class': 'engineTable'})
                
        columns = [header.get_text() for header in main_table.find('thead').find_all('tr')[0].find_all('th')]
        rows = []

        for innings in [row for row in main_table.find('tbody').find_all('tr')]:
            rows.append([stat.get_text() for stat in innings.find_all('td')])
            
        return(pd.DataFrame(rows, columns=columns))
    
    def innings(self):
        raw_innings = self.raw_innings()
        raw_innings['Opposition'] = raw_innings['Opposition'].str.replace('v ', '')
        raw_innings.replace('-', np.nan, inplace=True)
        raw_innings.columns = raw_innings.columns.str.lower().str.replace(' ', '_')
        raw_innings['is_out'] = raw_innings.score.astype('str').apply(lambda x: False if x in ['nan', 'DNB'] else False if '*' in x else True)
        raw_innings['did_bowl'] = raw_innings.overs.astype('str').apply(lambda x: False if x in ['nan', 'DNB'] else True)
        raw_innings['did_bat'] = raw_innings.score.str.replace('*', '').astype('str').apply(lambda x: True if x.isnumeric() else False)
        raw_innings['score'] = raw_innings['score'].str.replace('*', '')
        return(raw_innings[['inns', 'score', 'did_bat', 'is_out', 'overs', 'conc', 'wkts', 'did_bowl', 'ct', 'st', 'opposition', 'ground', 'start_date']])
    
    def batting_summary(self):
        innings = self.innings()
        total_at_bats = innings.did_bat.sum()
        dismissals = innings.is_out.sum()
        total_runs = innings.score[innings.did_bat].dropna().astype('int').sum()
        return(pd.DataFrame({'Innings': total_at_bats, 
                             'Dismissals': dismissals, 
                             'Total Runs': total_runs, 
                             'Average': round(total_runs/dismissals, 4)}, index=['Overall']))

In [3]:
virat_kohli = 'http://stats.espncricinfo.com/ci/engine/player/253802.html?class=1;template=results;type=allround;view=innings'
steve_smith = 'http://stats.espncricinfo.com/ci/engine/player/267192.html?class=1;template=results;type=allround;view=innings'
kane_williamson = 'http://stats.espncricinfo.com/ci/engine/player/277906.html?class=1;template=results;type=allround;view=innings'
joe_root = 'http://stats.espncricinfo.com/ci/engine/player/303669.html?class=1;template=results;type=allround;view=innings'

In [4]:
root = CricketPlayer(joe_root)

In [5]:
innings = root.raw_innings()
innings

,Inns,Score,Overs,Conc,Wkts,Ct,St,,Opposition,Ground,Start Date,
0,1,73,-,-,-,-,-,,v India,Nagpur,13 Dec 2012,Test # 2066
1,2,-,1.0,5,0,0,0,,v India,Nagpur,13 Dec 2012,Test # 2066
2,3,20*,-,-,-,-,-,,v India,Nagpur,13 Dec 2012,Test # 2066
3,1,4,-,-,-,-,-,,v New Zealand,Dunedin,6 Mar 2013,Test # 2077
4,2,-,5.0,8,0,0,0,,v New Zealand,Dunedin,6 Mar 2013,Test # 2077
5,3,0,-,-,-,-,-,,v New Zealand,Dunedin,6 Mar 2013,Test # 2077
6,1,10,-,-,-,-,-,,v New Zealand,Wellington,14 Mar 2013,Test # 2080
7,2,-,1.0,6,0,0,0,,v New Zealand,Wellington,14 Mar 2013,Test # 2080
8,3,-,2.0,12,0,0,0,,v New Zealand,Wellington,14 Mar 2013,Test # 2080
9,1,-,2.0,5,0,0,0,,v New Zealand,Auckland,22 Mar 2013,Test # 2084
10,2,45,-,-,-,-,-,,v New Zealand,Auckland,22 Mar 2013,Test # 2084
11,3,-,DNB,-,-,1,0,,v New Zealand,Auckland,22 Mar 2013,Test # 2084
12,4,29,-,-,-,-,-,,v New Zealand,Auckland,22 Mar 2013,Test # 2084
13,1,40,-,-,-,-,-,,v New Zealand,Lord's,16 May 2013,Test # 2088
14,2,-,DNB,-,-,1,0,,v New Zealand,Lord's,16 May 2013,Test # 2088
15,3,71,-,-,-,-,-,,v New Zealand,Lord's,16 May 2013,Test # 2088
16,4,-,DNB,-,-,1,0,,v New Zealand,Lord's,16 May 2013,Test # 2088
17,1,104,-,-,-,-,-,,v New Zealand,Leeds,24 May 2013,Test # 2089
18,2,-,DNB,-,-,0,0,,v New Zealand,Leeds,24 May 2013,Test # 2089
19,3,28,-,-,-,-,-,,v New Zealand,Leeds,24 May 2013,Test # 2089
20,4,-,3.0,1,0,1,0,,v New Zealand,Leeds,24 May 2013,Test # 2089
21,1,30,-,-,-,-,-,,v Australia,Nottingham,10 Jul 2013,Test # 2090
22,2,-,DNB,-,-,1,0,,v Australia,Nottingham,10 Jul 2013,Test # 2090
23,3,5,-,-,-,-,-,,v Australia,Nottingham,10 Jul 2013,Test # 2090
24,4,-,2.0,6,1,0,0,,v Australia,Nottingham,10 Jul 2013,Test # 2090
25,1,6,-,-,-,-,-,,v Australia,Lord's,18 Jul 2013,Test # 2091
26,2,-,DNB,-,-,0,0,,v Australia,Lord's,18 Jul 2013,Test # 2091
27,3,180,-,-,-,-,-,,v Australia,Lord's,18 Jul 2013,Test # 2091
28,4,-,7.0,9,2,0,0,,v Australia,Lord's,18 Jul 2013,Test # 2091
29,1,-,4.0,18,0,0,0,,v Australia,Manchester,1 Aug 2013,Test # 2092
...,...,...,...,...,...,...,...,...,...,...,...,...
298,2,-,DNB,-,-,2,0,,v West Indies,Gros Islet,9 Feb 2019,Test # 2346
299,3,122,-,-,-,-,-,,v West Indies,Gros Islet,9 Feb 2019,Test # 2346
300,4,-,DNB,-,-,1,0,,v West Indies,Gros Islet,9 Feb 2019,Test # 2346
301,1,2,-,-,-,-,-,,v Ireland,Lord's,24 Jul 2019,Test # 2352
302,2,-,DNB,-,-,1,0,,v Ireland,Lord's,24 Jul 2019,Test # 2352
303,3,31,-,-,-,-,-,,v Ireland,Lord's,24 Jul 2019,Test # 2352
304,4,-,DNB,-,-,4,0,,v Ireland,Lord's,24 Jul 2019,Test # 2352
305,1,-,DNB,-,-,1,0,,v Australia,Birmingham,1 Aug 2019,Test # 2353
306,2,57,-,-,-,-,-,,v Australia,Birmingham,1 Aug 2019,Test # 2353
307,3,-,12.0,50,0,0,0,,v Australia,Birmingham,1 Aug 2019,Test # 2353
308,4,28,-,-,-,-,-,,v Australia,Birmingham,1 Aug 2019,Test # 2353
309,1,14,-,-,-,-,-,,v Australia,Lord's,14 Aug 2019,Test # 2355
310,2,-,DNB,-,-,0,0,,v Australia,Lord's,14 Aug 2019,Test # 2355
311,3,0,-,-,-,-,-,,v Australia,Lord's,14 Aug 2019,Test # 2355
312,4,-,1.0,7,0,1,0,,v Australia,Lord's,14 Aug 2019,Test # 2355
313,1,-,DNB,-,-,1,0,,v Australia,Leeds,22 Aug 2019,Test # 2357
314,2,0,-,-,-,-,-,,v Australia,Leeds,22 Aug 2019,Test # 2357
315,3,-,DNB,-,-,1,0,,v Australia,Leeds,22 Aug 2019,Test # 2357
316,4,77,-,-,-,-,-,,v Australia,Leeds,22 Aug 2019,Test # 2357
317,1,-,6.0,39,1,1,0,,v Australia,Manchester,4 Sep 2019,Test # 2360
318,2,71,-,-,-,-,-,,v Australia,Manchester,4 Sep 2019,Test # 2360
319,3,-,DNB,-,-,0,0,,v Australia,Manchester,4 Sep 2019,Test # 2360
320,4,0,-,-,-,-,-,,v Australia,Manchester,4 Sep 2019,Test # 2360
321,1,57,-,-,-,-,-,,v Australia,The Oval,12 Sep 2019,Test # 2362
322,2,-,DNB,-,-,0,0,,v Australia,The Oval,12 Sep 2019,Test # 2362
323,3,21,-,-,-,-,-,,v Australia,The Oval,12 Sep 2019,Test # 2362
324,4,-,9.0,26,2,2,0,,v Australia,The Oval,12 Sep 2019,Test # 2362
325,1,2,-,-,-,-,-,,v New Zealand,Mount Maunganui,21 Nov 2019,Test # 2367
326,2,-,18.0,67,1,0,0,,v New Zealand,Mount Maunganui,21 Nov 2019,Test # 2367
327,3,DNB,-,-,-,-,-,,v New Zealand,Mount Maunganui,21 Nov 2019,Test # 2367

In [6]:
# Remove 'v ' from the beginning of each opposition
innings['Opposition'] = innings['Opposition'].str.replace('v ', '')

In [7]:
# Remove the empty columns that are used for spacing and links on the website 
innings.drop('', axis=1, inplace = True)
innings.head()

  Inns Score Overs Conc Wkts Ct St   Opposition   Ground   Start Date
0    1    73     -    -    -  -  -        India   Nagpur  13 Dec 2012
1    2     -   1.0    5    0  0  0        India   Nagpur  13 Dec 2012
2    3   20*     -    -    -  -  -        India   Nagpur  13 Dec 2012
3    1     4     -    -    -  -  -  New Zealand  Dunedin   6 Mar 2013
4    2     -   5.0    8    0  0  0  New Zealand  Dunedin   6 Mar 2013

I think we want to replace the blank '-' with `np.nan` to neaten up the output.

In [8]:
import numpy as np
innings.replace('-', np.nan, inplace=True)

In [9]:
innings.head()

  Inns Score Overs Conc Wkts   Ct   St   Opposition   Ground   Start Date
0    1    73   NaN  NaN  NaN  NaN  NaN        India   Nagpur  13 Dec 2012
1    2   NaN   1.0    5    0    0    0        India   Nagpur  13 Dec 2012
2    3   20*   NaN  NaN  NaN  NaN  NaN        India   Nagpur  13 Dec 2012
3    1     4   NaN  NaN  NaN  NaN  NaN  New Zealand  Dunedin   6 Mar 2013
4    2   NaN   5.0    8    0    0    0  New Zealand  Dunedin   6 Mar 2013

Clean up the column names.

In [10]:
innings.columns = innings.columns.str.lower().str.replace(' ', '_')

In [11]:
innings.head()

  inns score overs conc wkts   ct   st   opposition   ground   start_date
0    1    73   NaN  NaN  NaN  NaN  NaN        India   Nagpur  13 Dec 2012
1    2   NaN   1.0    5    0    0    0        India   Nagpur  13 Dec 2012
2    3   20*   NaN  NaN  NaN  NaN  NaN        India   Nagpur  13 Dec 2012
3    1     4   NaN  NaN  NaN  NaN  NaN  New Zealand  Dunedin   6 Mar 2013
4    2   NaN   5.0    8    0    0    0  New Zealand  Dunedin   6 Mar 2013

It will be easier if we have a flag for working out whether the batsman got out or not.

In [12]:
innings['is_out'] = innings.score.astype('str').apply(lambda x: np.nan if x == 'nan' else False if '*' in x else True)

In [13]:
innings.head()

,inns,score,overs,conc,wkts,ct,st,opposition,ground,start_date,is_out
0,1,73,NaN,NaN,NaN,NaN,NaN,India,Nagpur,13 Dec 2012,True
1,2,NaN,1.0,5,0,0,0,India,Nagpur,13 Dec 2012,NaN
2,3,20*,NaN,NaN,NaN,NaN,NaN,India,Nagpur,13 Dec 2012,False
3,1,4,NaN,NaN,NaN,NaN,NaN,New Zealand,Dunedin,6 Mar 2013,True
4,2,NaN,5.0,8,0,0,0,New Zealand,Dunedin,6 Mar 2013,NaN

Add a flag to indicate whether the player bowled in that particular innings.

In [14]:
innings['did_bowl'] = innings.overs.astype('str').apply(lambda x: False if x in ['nan', 'DNB'] else True)

In [15]:
innings[['inns', 'score', 'is_out', 'overs', 'conc', 
         'wkts', 'did_bowl', 'ct', 'st', 'opposition', 'ground', 'start_date']].head()

,inns,score,is_out,overs,conc,wkts,did_bowl,ct,st,opposition,ground,start_date
0,1,73,True,NaN,NaN,NaN,False,NaN,NaN,India,Nagpur,13 Dec 2012
1,2,NaN,NaN,1.0,5,0,True,0,0,India,Nagpur,13 Dec 2012
2,3,20*,False,NaN,NaN,NaN,False,NaN,NaN,India,Nagpur,13 Dec 2012
3,1,4,True,NaN,NaN,NaN,False,NaN,NaN,New Zealand,Dunedin,6 Mar 2013
4,2,NaN,NaN,5.0,8,0,True,0,0,New Zealand,Dunedin,6 Mar 2013

Cleaned up `raw_innings()` so that we have another function that returns a clean `pd.DataFrame`.

In [16]:
innings['did_bat'] = innings.score.str.replace('*', '').astype('str').apply(lambda x: True if x.isnumeric() else False)

We can check that this correctly filters out the 'DNB' values.

In [17]:
innings[innings.score == 'DNB']

,inns,score,overs,conc,wkts,ct,st,opposition,ground,start_date,is_out,did_bowl,did_bat
89,4,DNB,NaN,NaN,NaN,NaN,NaN,West Indies,St George's,21 Apr 2015,True,False,False
153,4,DNB,NaN,NaN,NaN,NaN,NaN,Sri Lanka,Chester-le-Street,27 May 2016,True,False,False
226,4,DNB,NaN,NaN,NaN,NaN,NaN,West Indies,Lord's,7 Sep 2017,True,False,False
327,3,DNB,NaN,NaN,NaN,NaN,NaN,New Zealand,Mount Maunganui,21 Nov 2019,True,False,False

In [18]:
# Innings that he didn't bat 
root.innings()[np.invert(root.innings().did_bat)].shape

(168, 13)

In [19]:
# Innings that he did bat 
root.innings()[root.innings().did_bat].shape

(160, 13)

In [20]:
# Total shape of data
root.innings().shape

(328, 13)

In [21]:
not_outs = root.innings()[(root.innings().did_bat) & np.invert(root.innings().is_out)]

We can join back into the raw scraping from the website to check that our not out flag is working correctly.

In [22]:
root.raw_innings().iloc[not_outs.index]

,Inns,Score,Overs,Conc,Wkts,Ct,St,,Opposition,Ground,Start Date,
2,3,20*,-,-,-,-,-,,v India,Nagpur,13 Dec 2012,Test # 2066
32,4,13*,-,-,-,-,-,,v Australia,Manchester,1 Aug 2013,Test # 2092
44,4,26*,-,-,-,-,-,,v Australia,Brisbane,21 Nov 2013,Test # 2103
57,1,200*,-,-,-,-,-,,v Sri Lanka,Lord's,12 Jun 2014,Test # 2124
66,2,154*,-,-,-,-,-,,v India,Nottingham,9 Jul 2014,Test # 2128
80,2,149*,-,-,-,-,-,,v India,The Oval,15 Aug 2014,Test # 2137
87,2,182*,-,-,-,-,-,,v West Indies,St George's,21 Apr 2015,Test # 2158
113,4,38*,-,-,-,-,-,,v Australia,Birmingham,29 Jul 2015,Test # 2173
123,4,33*,-,-,-,-,-,,v Pakistan,Abu Dhabi,13 Oct 2015,Test # 2180
142,4,4*,-,-,-,-,-,,v South Africa,Johannesburg,14 Jan 2016,Test # 2199
164,3,71*,-,-,-,-,-,,v Pakistan,Manchester,22 Jul 2016,Test # 2208
243,3,58*,-,-,-,-,-,,v Australia,Sydney,4 Jan 2018,Test # 2291

In [23]:
root.raw_innings().iloc[root.innings()[root.innings().did_bat].index]

,Inns,Score,Overs,Conc,Wkts,Ct,St,,Opposition,Ground,Start Date,
0,1,73,-,-,-,-,-,,v India,Nagpur,13 Dec 2012,Test # 2066
2,3,20*,-,-,-,-,-,,v India,Nagpur,13 Dec 2012,Test # 2066
3,1,4,-,-,-,-,-,,v New Zealand,Dunedin,6 Mar 2013,Test # 2077
5,3,0,-,-,-,-,-,,v New Zealand,Dunedin,6 Mar 2013,Test # 2077
6,1,10,-,-,-,-,-,,v New Zealand,Wellington,14 Mar 2013,Test # 2080
10,2,45,-,-,-,-,-,,v New Zealand,Auckland,22 Mar 2013,Test # 2084
12,4,29,-,-,-,-,-,,v New Zealand,Auckland,22 Mar 2013,Test # 2084
13,1,40,-,-,-,-,-,,v New Zealand,Lord's,16 May 2013,Test # 2088
15,3,71,-,-,-,-,-,,v New Zealand,Lord's,16 May 2013,Test # 2088
17,1,104,-,-,-,-,-,,v New Zealand,Leeds,24 May 2013,Test # 2089
19,3,28,-,-,-,-,-,,v New Zealand,Leeds,24 May 2013,Test # 2089
21,1,30,-,-,-,-,-,,v Australia,Nottingham,10 Jul 2013,Test # 2090
23,3,5,-,-,-,-,-,,v Australia,Nottingham,10 Jul 2013,Test # 2090
25,1,6,-,-,-,-,-,,v Australia,Lord's,18 Jul 2013,Test # 2091
27,3,180,-,-,-,-,-,,v Australia,Lord's,18 Jul 2013,Test # 2091
30,2,8,-,-,-,-,-,,v Australia,Manchester,1 Aug 2013,Test # 2092
32,4,13*,-,-,-,-,-,,v Australia,Manchester,1 Aug 2013,Test # 2092
33,1,16,-,-,-,-,-,,v Australia,Chester-le-Street,9 Aug 2013,Test # 2093
35,3,2,-,-,-,-,-,,v Australia,Chester-le-Street,9 Aug 2013,Test # 2093
38,2,68,-,-,-,-,-,,v Australia,The Oval,21 Aug 2013,Test # 2094
40,4,11,-,-,-,-,-,,v Australia,The Oval,21 Aug 2013,Test # 2094
42,2,2,-,-,-,-,-,,v Australia,Brisbane,21 Nov 2013,Test # 2103
44,4,26*,-,-,-,-,-,,v Australia,Brisbane,21 Nov 2013,Test # 2103
46,2,15,-,-,-,-,-,,v Australia,Adelaide,5 Dec 2013,Test # 2105
48,4,87,-,-,-,-,-,,v Australia,Adelaide,5 Dec 2013,Test # 2105
50,2,4,-,-,-,-,-,,v Australia,Perth,13 Dec 2013,Test # 2107
52,4,19,-,-,-,-,-,,v Australia,Perth,13 Dec 2013,Test # 2107
53,1,24,-,-,-,-,-,,v Australia,Melbourne,26 Dec 2013,Test # 2110
55,3,15,-,-,-,-,-,,v Australia,Melbourne,26 Dec 2013,Test # 2110
57,1,200*,-,-,-,-,-,,v Sri Lanka,Lord's,12 Jun 2014,Test # 2124
...,...,...,...,...,...,...,...,...,...,...,...,...
268,4,13,-,-,-,-,-,,v India,Nottingham,18 Aug 2018,Test # 2316
269,1,4,-,-,-,-,-,,v India,Southampton,30 Aug 2018,Test # 2317
271,3,48,-,-,-,-,-,,v India,Southampton,30 Aug 2018,Test # 2317
273,1,0,-,-,-,-,-,,v India,The Oval,7 Sep 2018,Test # 2318
275,3,125,-,-,-,-,-,,v India,The Oval,7 Sep 2018,Test # 2318
277,1,35,-,-,-,-,-,,v Sri Lanka,Galle,6 Nov 2018,Test # 2324
279,3,3,-,-,-,-,-,,v Sri Lanka,Galle,6 Nov 2018,Test # 2324
281,1,14,-,-,-,-,-,,v Sri Lanka,Pallekele,14 Nov 2018,Test # 2326
283,3,124,-,-,-,-,-,,v Sri Lanka,Pallekele,14 Nov 2018,Test # 2326
285,1,46,-,-,-,-,-,,v Sri Lanka,Colombo (SSC),23 Nov 2018,Test # 2329
287,3,7,-,-,-,-,-,,v Sri Lanka,Colombo (SSC),23 Nov 2018,Test # 2329
290,2,4,-,-,-,-,-,,v West Indies,Bridgetown,23 Jan 2019,Test # 2342
292,4,22,-,-,-,-,-,,v West Indies,Bridgetown,23 Jan 2019,Test # 2342
293,1,7,-,-,-,-,-,,v West Indies,North Sound,31 Jan 2019,Test # 2344
295,3,7,-,-,-,-,-,,v West Indies,North Sound,31 Jan 2019,Test # 2344
297,1,15,-,-,-,-,-,,v West Indies,Gros Islet,9 Feb 2019,Test # 2346
299,3,122,-,-,-,-,-,,v West Indies,Gros Islet,9 Feb 2019,Test # 2346
301,1,2,-,-,-,-,-,,v Ireland,Lord's,24 Jul 2019,Test # 2352
303,3,31,-,-,-,-,-,,v Ireland,Lord's,24 Jul 2019,Test # 2352
306,2,57,-,-,-,-,-,,v Australia,Birmingham,1 Aug 2019,Test # 2353
308,4,28,-,-,-,-,-,,v Australia,Birmingham,1 Aug 2019,Test # 2353
309,1,14,-,-,-,-,-,,v Australia,Lord's,14 Aug 2019,Test # 2355
311,3,0,-,-,-,-,-,,v Australia,Lord's,14 Aug 2019,Test # 2355
314,2,0,-,-,-,-,-,,v Australia,Leeds,22 Aug 2019,Test # 2357
316,4,77,-,-,-,-,-,,v Australia,Leeds,22 Aug 2019,Test # 2357
318,2,71,-,-,-,-,-,,v Australia,Manchester,4 Sep 2019,Test # 2360
320,4,0,-,-,-,-,-,,v Australia,Manchester,4 Sep 2019,Test # 2360
321,1,57,-,-,-,-,-,,v Australia,The Oval,12 Sep 2019,Test # 2362
323,3,21,-,-,-,-,-,,v Australia,The Oval,12 Sep 2019,Test # 2362
325,1,2,-,-,-,-,-,,v New Zealand,Mount Maunganui,21 Nov 2019,Test # 2367

We can use the clean data, with our defined flags to generate a summary data frame for the entire innings set.

In [24]:
root.batting_summary()

         Innings  Dismissals  Total Runs  Average
Overall      160         148        7045  47.6014