# Building a class for a player
I think that it would be very useful for us to wrap the functionality of the analysis into a class; one that we can just pass the link to the page and then we have access to all their details.

In [17]:
# Required imports
import requests
import pandas as pd
from bs4 import BeautifulSoup

### Initial workings
This notebook contains the workings of getting to the class, and I will save a version of the class in a `.py` file ([here](../CricketPlayer.py))as well so we can easily import that into other notebooks later.

In [18]:
class CricketPlayer:
    def __init__(self, innings_by_innings_link):
        self.link = innings_by_innings_link
        self.soup = BeautifulSoup(requests.get(innings_by_innings_link).text, features="html.parser")
        
    def view_raw_html(self):
        return(self.soup)
    
    def raw_innings(self):
        for caption in self.soup.find_all('caption'):
            if caption.get_text() == 'Innings by innings list':
                main_table = caption.find_parent('table', {'class': 'engineTable'})
                
        columns = [header.get_text() for header in main_table.find('thead').find_all('tr')[0].find_all('th')]
        rows = []

        for innings in [row for row in main_table.find('tbody').find_all('tr')]:
            rows.append([stat.get_text() for stat in innings.find_all('td')])
            
        return(pd.DataFrame(rows, columns=columns))
    
    def innings(self):
        raw_innings = self.raw_innings()
        raw_innings['Opposition'] = raw_innings['Opposition'].str.replace('v ', '')
        raw_innings.replace('-', np.nan, inplace=True)
        raw_innings.columns = raw_innings.columns.str.lower().str.replace(' ', '_')
        raw_innings['is_out'] = raw_innings.score.astype('str').apply(lambda x: np.nan if x == 'nan' else False if '*' in x else True)
        raw_innings['did_bowl'] = raw_innings.overs.astype('str').apply(lambda x: False if x in ['nan', 'DNB'] else True)
        return(raw_innings[['inns', 'score', 'is_out', 'overs', 'conc', 'wkts', 'did_bowl', 'ct', 'st', 'opposition', 'ground', 'start_date']])

In [19]:
virat_kohli = 'http://stats.espncricinfo.com/ci/engine/player/253802.html?class=1;template=results;type=allround;view=innings'
steve_smith = 'http://stats.espncricinfo.com/ci/engine/player/267192.html?class=1;template=results;type=allround;view=innings'
kane_williamson = 'http://stats.espncricinfo.com/ci/engine/player/277906.html?class=1;template=results;type=allround;view=innings'
joe_root = 'http://stats.espncricinfo.com/ci/engine/player/303669.html?class=1;template=results;type=allround;view=innings'

In [20]:
root = CricketPlayer(joe_root)

In [21]:
innings = root.raw_innings()
innings

,Inns,Score,Overs,Conc,Wkts,Ct,St,,Opposition,Ground,Start Date,
0,1,73,-,-,-,-,-,,v India,Nagpur,13 Dec 2012,Test # 2066
1,2,-,1.0,5,0,0,0,,v India,Nagpur,13 Dec 2012,Test # 2066
2,3,20*,-,-,-,-,-,,v India,Nagpur,13 Dec 2012,Test # 2066
3,1,4,-,-,-,-,-,,v New Zealand,Dunedin,6 Mar 2013,Test # 2077
4,2,-,5.0,8,0,0,0,,v New Zealand,Dunedin,6 Mar 2013,Test # 2077
5,3,0,-,-,-,-,-,,v New Zealand,Dunedin,6 Mar 2013,Test # 2077
6,1,10,-,-,-,-,-,,v New Zealand,Wellington,14 Mar 2013,Test # 2080
7,2,-,1.0,6,0,0,0,,v New Zealand,Wellington,14 Mar 2013,Test # 2080
8,3,-,2.0,12,0,0,0,,v New Zealand,Wellington,14 Mar 2013,Test # 2080
9,1,-,2.0,5,0,0,0,,v New Zealand,Auckland,22 Mar 2013,Test # 2084
10,2,45,-,-,-,-,-,,v New Zealand,Auckland,22 Mar 2013,Test # 2084
11,3,-,DNB,-,-,1,0,,v New Zealand,Auckland,22 Mar 2013,Test # 2084
12,4,29,-,-,-,-,-,,v New Zealand,Auckland,22 Mar 2013,Test # 2084
13,1,40,-,-,-,-,-,,v New Zealand,Lord's,16 May 2013,Test # 2088
14,2,-,DNB,-,-,1,0,,v New Zealand,Lord's,16 May 2013,Test # 2088
15,3,71,-,-,-,-,-,,v New Zealand,Lord's,16 May 2013,Test # 2088
16,4,-,DNB,-,-,1,0,,v New Zealand,Lord's,16 May 2013,Test # 2088
17,1,104,-,-,-,-,-,,v New Zealand,Leeds,24 May 2013,Test # 2089
18,2,-,DNB,-,-,0,0,,v New Zealand,Leeds,24 May 2013,Test # 2089
19,3,28,-,-,-,-,-,,v New Zealand,Leeds,24 May 2013,Test # 2089
20,4,-,3.0,1,0,1,0,,v New Zealand,Leeds,24 May 2013,Test # 2089
21,1,30,-,-,-,-,-,,v Australia,Nottingham,10 Jul 2013,Test # 2090
22,2,-,DNB,-,-,1,0,,v Australia,Nottingham,10 Jul 2013,Test # 2090
23,3,5,-,-,-,-,-,,v Australia,Nottingham,10 Jul 2013,Test # 2090
24,4,-,2.0,6,1,0,0,,v Australia,Nottingham,10 Jul 2013,Test # 2090
25,1,6,-,-,-,-,-,,v Australia,Lord's,18 Jul 2013,Test # 2091
26,2,-,DNB,-,-,0,0,,v Australia,Lord's,18 Jul 2013,Test # 2091
27,3,180,-,-,-,-,-,,v Australia,Lord's,18 Jul 2013,Test # 2091
28,4,-,7.0,9,2,0,0,,v Australia,Lord's,18 Jul 2013,Test # 2091
29,1,-,4.0,18,0,0,0,,v Australia,Manchester,1 Aug 2013,Test # 2092
...,...,...,...,...,...,...,...,...,...,...,...,...
297,1,15,-,-,-,-,-,,v West Indies,Gros Islet,9 Feb 2019,Test # 2346
298,2,-,DNB,-,-,2,0,,v West Indies,Gros Islet,9 Feb 2019,Test # 2346
299,3,122,-,-,-,-,-,,v West Indies,Gros Islet,9 Feb 2019,Test # 2346
300,4,-,DNB,-,-,1,0,,v West Indies,Gros Islet,9 Feb 2019,Test # 2346
301,1,2,-,-,-,-,-,,v Ireland,Lord's,24 Jul 2019,Test # 2352
302,2,-,DNB,-,-,1,0,,v Ireland,Lord's,24 Jul 2019,Test # 2352
303,3,31,-,-,-,-,-,,v Ireland,Lord's,24 Jul 2019,Test # 2352
304,4,-,DNB,-,-,4,0,,v Ireland,Lord's,24 Jul 2019,Test # 2352
305,1,-,DNB,-,-,1,0,,v Australia,Birmingham,1 Aug 2019,Test # 2353
306,2,57,-,-,-,-,-,,v Australia,Birmingham,1 Aug 2019,Test # 2353
307,3,-,12.0,50,0,0,0,,v Australia,Birmingham,1 Aug 2019,Test # 2353
308,4,28,-,-,-,-,-,,v Australia,Birmingham,1 Aug 2019,Test # 2353
309,1,14,-,-,-,-,-,,v Australia,Lord's,14 Aug 2019,Test # 2355
310,2,-,DNB,-,-,0,0,,v Australia,Lord's,14 Aug 2019,Test # 2355
311,3,0,-,-,-,-,-,,v Australia,Lord's,14 Aug 2019,Test # 2355
312,4,-,1.0,7,0,1,0,,v Australia,Lord's,14 Aug 2019,Test # 2355
313,1,-,DNB,-,-,1,0,,v Australia,Leeds,22 Aug 2019,Test # 2357
314,2,0,-,-,-,-,-,,v Australia,Leeds,22 Aug 2019,Test # 2357
315,3,-,DNB,-,-,1,0,,v Australia,Leeds,22 Aug 2019,Test # 2357
316,4,77,-,-,-,-,-,,v Australia,Leeds,22 Aug 2019,Test # 2357
317,1,-,6.0,39,1,1,0,,v Australia,Manchester,4 Sep 2019,Test # 2360
318,2,71,-,-,-,-,-,,v Australia,Manchester,4 Sep 2019,Test # 2360
319,3,-,DNB,-,-,0,0,,v Australia,Manchester,4 Sep 2019,Test # 2360
320,4,0,-,-,-,-,-,,v Australia,Manchester,4 Sep 2019,Test # 2360
321,1,57,-,-,-,-,-,,v Australia,The Oval,12 Sep 2019,Test # 2362
322,2,-,DNB,-,-,0,0,,v Australia,The Oval,12 Sep 2019,Test # 2362
323,3,21,-,-,-,-,-,,v Australia,The Oval,12 Sep 2019,Test # 2362
324,4,-,9.0,26,2,2,0,,v Australia,The Oval,12 Sep 2019,Test # 2362
325,1,2,-,-,-,-,-,,v New Zealand,Mount Maunganui,21 Nov 2019,Test # 2367
326,2,-,10.0,31,1,0,0,,v New Zealand,Mount Maunganui,21 Nov 2019,Test # 2367

In [22]:
# Remove 'v ' from the beginning of each opposition
innings['Opposition'] = innings['Opposition'].str.replace('v ', '')

In [23]:
# Remove the empty columns that are used for spacing and links on the website 
innings.drop('', axis=1, inplace = True)
innings.head()

  Inns Score Overs Conc Wkts Ct St   Opposition   Ground   Start Date
0    1    73     -    -    -  -  -        India   Nagpur  13 Dec 2012
1    2     -   1.0    5    0  0  0        India   Nagpur  13 Dec 2012
2    3   20*     -    -    -  -  -        India   Nagpur  13 Dec 2012
3    1     4     -    -    -  -  -  New Zealand  Dunedin   6 Mar 2013
4    2     -   5.0    8    0  0  0  New Zealand  Dunedin   6 Mar 2013

I think we want to replace the blank '-' with `np.nan` to neaten up the output.

In [24]:
import numpy as np
innings.replace('-', np.nan, inplace=True)

In [25]:
innings.head()

  Inns Score Overs Conc Wkts   Ct   St   Opposition   Ground   Start Date
0    1    73   NaN  NaN  NaN  NaN  NaN        India   Nagpur  13 Dec 2012
1    2   NaN   1.0    5    0    0    0        India   Nagpur  13 Dec 2012
2    3   20*   NaN  NaN  NaN  NaN  NaN        India   Nagpur  13 Dec 2012
3    1     4   NaN  NaN  NaN  NaN  NaN  New Zealand  Dunedin   6 Mar 2013
4    2   NaN   5.0    8    0    0    0  New Zealand  Dunedin   6 Mar 2013

Clean up the column names.

In [26]:
innings.columns = innings.columns.str.lower().str.replace(' ', '_')

In [27]:
innings.head()

  inns score overs conc wkts   ct   st   opposition   ground   start_date
0    1    73   NaN  NaN  NaN  NaN  NaN        India   Nagpur  13 Dec 2012
1    2   NaN   1.0    5    0    0    0        India   Nagpur  13 Dec 2012
2    3   20*   NaN  NaN  NaN  NaN  NaN        India   Nagpur  13 Dec 2012
3    1     4   NaN  NaN  NaN  NaN  NaN  New Zealand  Dunedin   6 Mar 2013
4    2   NaN   5.0    8    0    0    0  New Zealand  Dunedin   6 Mar 2013

It will be easier if we have a flag for working out whether the batsman got out or not.

In [28]:
innings['is_out'] = innings.score.astype('str').apply(lambda x: np.nan if x == 'nan' else False if '*' in x else True)

In [29]:
innings.head()

,inns,score,overs,conc,wkts,ct,st,opposition,ground,start_date,is_out
0,1,73,NaN,NaN,NaN,NaN,NaN,India,Nagpur,13 Dec 2012,True
1,2,NaN,1.0,5,0,0,0,India,Nagpur,13 Dec 2012,NaN
2,3,20*,NaN,NaN,NaN,NaN,NaN,India,Nagpur,13 Dec 2012,False
3,1,4,NaN,NaN,NaN,NaN,NaN,New Zealand,Dunedin,6 Mar 2013,True
4,2,NaN,5.0,8,0,0,0,New Zealand,Dunedin,6 Mar 2013,NaN

Add a flag to indicate whether the player bowled in that particular innings.

In [30]:
innings['did_bowl'] = innings.overs.astype('str').apply(lambda x: False if x in ['nan', 'DNB'] else True)

In [31]:
innings[['inns', 'score', 'is_out', 'overs', 'conc', 
         'wkts', 'did_bowl', 'ct', 'st', 'opposition', 'ground', 'start_date']].head()

,inns,score,is_out,overs,conc,wkts,did_bowl,ct,st,opposition,ground,start_date
0,1,73,True,NaN,NaN,NaN,False,NaN,NaN,India,Nagpur,13 Dec 2012
1,2,NaN,NaN,1.0,5,0,True,0,0,India,Nagpur,13 Dec 2012
2,3,20*,False,NaN,NaN,NaN,False,NaN,NaN,India,Nagpur,13 Dec 2012
3,1,4,True,NaN,NaN,NaN,False,NaN,NaN,New Zealand,Dunedin,6 Mar 2013
4,2,NaN,NaN,5.0,8,0,True,0,0,New Zealand,Dunedin,6 Mar 2013

Cleaned up `raw_innings()` so that we have another function that returns a clean `pd.DataFrame`.

In [32]:
root.innings()

,inns,score,is_out,overs,conc,wkts,did_bowl,ct,st,opposition,ground,start_date
0,1,73,True,NaN,NaN,NaN,False,NaN,NaN,India,Nagpur,13 Dec 2012
1,2,NaN,NaN,1.0,5,0,True,0,0,India,Nagpur,13 Dec 2012
2,3,20*,False,NaN,NaN,NaN,False,NaN,NaN,India,Nagpur,13 Dec 2012
3,1,4,True,NaN,NaN,NaN,False,NaN,NaN,New Zealand,Dunedin,6 Mar 2013
4,2,NaN,NaN,5.0,8,0,True,0,0,New Zealand,Dunedin,6 Mar 2013
5,3,0,True,NaN,NaN,NaN,False,NaN,NaN,New Zealand,Dunedin,6 Mar 2013
6,1,10,True,NaN,NaN,NaN,False,NaN,NaN,New Zealand,Wellington,14 Mar 2013
7,2,NaN,NaN,1.0,6,0,True,0,0,New Zealand,Wellington,14 Mar 2013
8,3,NaN,NaN,2.0,12,0,True,0,0,New Zealand,Wellington,14 Mar 2013
9,1,NaN,NaN,2.0,5,0,True,0,0,New Zealand,Auckland,22 Mar 2013
10,2,45,True,NaN,NaN,NaN,False,NaN,NaN,New Zealand,Auckland,22 Mar 2013
11,3,NaN,NaN,DNB,NaN,NaN,False,1,0,New Zealand,Auckland,22 Mar 2013
12,4,29,True,NaN,NaN,NaN,False,NaN,NaN,New Zealand,Auckland,22 Mar 2013
13,1,40,True,NaN,NaN,NaN,False,NaN,NaN,New Zealand,Lord's,16 May 2013
14,2,NaN,NaN,DNB,NaN,NaN,False,1,0,New Zealand,Lord's,16 May 2013
15,3,71,True,NaN,NaN,NaN,False,NaN,NaN,New Zealand,Lord's,16 May 2013
16,4,NaN,NaN,DNB,NaN,NaN,False,1,0,New Zealand,Lord's,16 May 2013
17,1,104,True,NaN,NaN,NaN,False,NaN,NaN,New Zealand,Leeds,24 May 2013
18,2,NaN,NaN,DNB,NaN,NaN,False,0,0,New Zealand,Leeds,24 May 2013
19,3,28,True,NaN,NaN,NaN,False,NaN,NaN,New Zealand,Leeds,24 May 2013
20,4,NaN,NaN,3.0,1,0,True,1,0,New Zealand,Leeds,24 May 2013
21,1,30,True,NaN,NaN,NaN,False,NaN,NaN,Australia,Nottingham,10 Jul 2013
22,2,NaN,NaN,DNB,NaN,NaN,False,1,0,Australia,Nottingham,10 Jul 2013
23,3,5,True,NaN,NaN,NaN,False,NaN,NaN,Australia,Nottingham,10 Jul 2013
24,4,NaN,NaN,2.0,6,1,True,0,0,Australia,Nottingham,10 Jul 2013
25,1,6,True,NaN,NaN,NaN,False,NaN,NaN,Australia,Lord's,18 Jul 2013
26,2,NaN,NaN,DNB,NaN,NaN,False,0,0,Australia,Lord's,18 Jul 2013
27,3,180,True,NaN,NaN,NaN,False,NaN,NaN,Australia,Lord's,18 Jul 2013
28,4,NaN,NaN,7.0,9,2,True,0,0,Australia,Lord's,18 Jul 2013
29,1,NaN,NaN,4.0,18,0,True,0,0,Australia,Manchester,1 Aug 2013
...,...,...,...,...,...,...,...,...,...,...,...,...
297,1,15,True,NaN,NaN,NaN,False,NaN,NaN,West Indies,Gros Islet,9 Feb 2019
298,2,NaN,NaN,DNB,NaN,NaN,False,2,0,West Indies,Gros Islet,9 Feb 2019
299,3,122,True,NaN,NaN,NaN,False,NaN,NaN,West Indies,Gros Islet,9 Feb 2019
300,4,NaN,NaN,DNB,NaN,NaN,False,1,0,West Indies,Gros Islet,9 Feb 2019
301,1,2,True,NaN,NaN,NaN,False,NaN,NaN,Ireland,Lord's,24 Jul 2019
302,2,NaN,NaN,DNB,NaN,NaN,False,1,0,Ireland,Lord's,24 Jul 2019
303,3,31,True,NaN,NaN,NaN,False,NaN,NaN,Ireland,Lord's,24 Jul 2019
304,4,NaN,NaN,DNB,NaN,NaN,False,4,0,Ireland,Lord's,24 Jul 2019
305,1,NaN,NaN,DNB,NaN,NaN,False,1,0,Australia,Birmingham,1 Aug 2019
306,2,57,True,NaN,NaN,NaN,False,NaN,NaN,Australia,Birmingham,1 Aug 2019
307,3,NaN,NaN,12.0,50,0,True,0,0,Australia,Birmingham,1 Aug 2019
308,4,28,True,NaN,NaN,NaN,False,NaN,NaN,Australia,Birmingham,1 Aug 2019
309,1,14,True,NaN,NaN,NaN,False,NaN,NaN,Australia,Lord's,14 Aug 2019
310,2,NaN,NaN,DNB,NaN,NaN,False,0,0,Australia,Lord's,14 Aug 2019
311,3,0,True,NaN,NaN,NaN,False,NaN,NaN,Australia,Lord's,14 Aug 2019
312,4,NaN,NaN,1.0,7,0,True,1,0,Australia,Lord's,14 Aug 2019
313,1,NaN,NaN,DNB,NaN,NaN,False,1,0,Australia,Leeds,22 Aug 2019
314,2,0,True,NaN,NaN,NaN,False,NaN,NaN,Australia,Leeds,22 Aug 2019
315,3,NaN,NaN,DNB,NaN,NaN,False,1,0,Australia,Leeds,22 Aug 2019
316,4,77,True,NaN,NaN,NaN,False,NaN,NaN,Australia,Leeds,22 Aug 2019
317,1,NaN,NaN,6.0,39,1,True,1,0,Australia,Manchester,4 Sep 2019
318,2,71,True,NaN,NaN,NaN,False,NaN,NaN,Australia,Manchester,4 Sep 2019
319,3,NaN,NaN,DNB,NaN,NaN,False,0,0,Australia,Manchester,4 Sep 2019
320,4,0,True,NaN,NaN,NaN,False,NaN,NaN,Australia,Manchester,4 Sep 2019
321,1,57,True,NaN,NaN,NaN,False,NaN,NaN,Australia,The Oval,12 Sep 2019
322,2,NaN,NaN,DNB,NaN,NaN,False,0,0,Australia,The Oval,12 Sep 2019
323,3,21,True,NaN,NaN,NaN,False,NaN,NaN,Australia,The Oval,12 Sep 2019
324,4,NaN,NaN,9.0,26,2,True,2,0,Australia,The Oval,12 Sep 2019
325,1,2,True,NaN,NaN,NaN,False,NaN,NaN,New Zealand,Mount Maunganui,21 Nov 2019
326,2,NaN,NaN,10.0,31,1,True,0,0,New Zealand,Mount Maunganui,21 Nov 2019