# ESPN Cricinfo 
## The 'Top 4' 
There is a debate in cricket about who is the best batsman in the world. I think it was fairly universal that 4 batsman were part of the debate:
* Virat Kohli (India)
* Steve Smith (Australia)
* Kane Williamson (New Zealand)
* Joe Root (England)

However, it seems that Joe Root has fallen slightly away in this great debate. I thought it would be good to look at their test match scores spanning their entire careers and take a look at whether there is a clear fall away of England's nomination for the debate.

In [1]:
# Imports
import requests
import pandas as pd
from bs4 import BeautifulSoup

We can grab the innings by innings list in test matches for each of these guys.

In [4]:
virat_kohli = 'http://stats.espncricinfo.com/ci/engine/player/253802.html?class=1;template=results;type=allround;view=innings'
steve_smith = 'http://stats.espncricinfo.com/ci/engine/player/267192.html?class=1;template=results;type=allround;view=innings'
kane_williamson = 'http://stats.espncricinfo.com/ci/engine/player/277906.html?class=1;template=results;type=allround;view=innings'
joe_root = 'http://stats.espncricinfo.com/ci/engine/player/303669.html?class=1;template=results;type=allround;view=innings'

In [12]:
soup = BeautifulSoup(requests.get(joe_root).text, features="html.parser")

for caption in soup.find_all('caption'):
    if caption.get_text() == 'Innings by innings list':
        main_table = caption.find_parent('table', {'class': 'engineTable'})

We should isolate the headers of the table so that we know the structure that we are aiming for.

In [28]:
[header.get_text() for header in main_table.find('thead').find_all('tr')[0].find_all('th')]

['Inns',
 'Score',
 'Overs',
 'Conc',
 'Wkts',
 'Ct',
 'St',
 '',
 'Opposition',
 'Ground',
 'Start Date',
 '']

We can then take the body of the table and start working on that. We are aiming to have something that we can turn into a `pd.DataFrame` as that will make it much easier to manipulate and do plots.

In [35]:
for innings in [row for row in main_table.find('tbody').find_all('tr')]:
    stats = [stat.get_text() for stat in innings.find_all('td')]
    print(stats)

['1', '73', '-', '-', '-', '-', '-', '', 'v India', 'Nagpur', '13 Dec 2012', 'Test # 2066']
['2', '-', '1.0', '5', '0', '0', '0', '', 'v India', 'Nagpur', '13 Dec 2012', 'Test # 2066']
['3', '20*', '-', '-', '-', '-', '-', '', 'v India', 'Nagpur', '13 Dec 2012', 'Test # 2066']
['1', '4', '-', '-', '-', '-', '-', '', 'v New Zealand', 'Dunedin', '6 Mar 2013', 'Test # 2077']
['2', '-', '5.0', '8', '0', '0', '0', '', 'v New Zealand', 'Dunedin', '6 Mar 2013', 'Test # 2077']
['3', '0', '-', '-', '-', '-', '-', '', 'v New Zealand', 'Dunedin', '6 Mar 2013', 'Test # 2077']
['1', '10', '-', '-', '-', '-', '-', '', 'v New Zealand', 'Wellington', '14 Mar 2013', 'Test # 2080']
['2', '-', '1.0', '6', '0', '0', '0', '', 'v New Zealand', 'Wellington', '14 Mar 2013', 'Test # 2080']
['3', '-', '2.0', '12', '0', '0', '0', '', 'v New Zealand', 'Wellington', '14 Mar 2013', 'Test # 2080']
['1', '-', '2.0', '5', '0', '0', '0', '', 'v New Zealand', 'Auckland', '22 Mar 2013', 'Test # 2084']
['2', '45', '-', '-', '-', '-', '-', '', 'v New Zealand', 'Auckland', '22 Mar 2013', 'Test # 2084']
['3', '-', 'DNB', '-', '-', '1', '0', '', 'v New Zealand', 'Auckland', '22 Mar 2013', 'Test # 2084']
['4', '29', '-', '-', '-', '-', '-', '', 'v New Zealand', 'Auckland', '22 Mar 2013', 'Test # 2084']
['1', '40', '-', '-', '-', '-', '-', '', 'v New Zealand', "Lord's", '16 May 2013', 'Test # 2088']
['2', '-', 'DNB', '-', '-', '1', '0', '', 'v New Zealand', "Lord's", '16 May 2013', 'Test # 2088']
['3', '71', '-', '-', '-', '-', '-', '', 'v New Zealand', "Lord's", '16 May 2013', 'Test # 2088']
['4', '-', 'DNB', '-', '-', '1', '0', '', 'v New Zealand', "Lord's", '16 May 2013', 'Test # 2088']
['1', '104', '-', '-', '-', '-', '-', '', 'v New Zealand', 'Leeds', '24 May 2013', 'Test # 2089']
['2', '-', 'DNB', '-', '-', '0', '0', '', 'v New Zealand', 'Leeds', '24 May 2013', 'Test # 2089']
['3', '28', '-', '-', '-', '-', '-', '', 'v New Zealand', 'Leeds', '24 May 2013', 'Test # 2089']
['4', '-', '3.0', '1', '0', '1', '0', '', 'v New Zealand', 'Leeds', '24 May 2013', 'Test # 2089']
['1', '30', '-', '-', '-', '-', '-', '', 'v Australia', 'Nottingham', '10 Jul 2013', 'Test # 2090']
['2', '-', 'DNB', '-', '-', '1', '0', '', 'v Australia', 'Nottingham', '10 Jul 2013', 'Test # 2090']
['3', '5', '-', '-', '-', '-', '-', '', 'v Australia', 'Nottingham', '10 Jul 2013', 'Test # 2090']
['4', '-', '2.0', '6', '1', '0', '0', '', 'v Australia', 'Nottingham', '10 Jul 2013', 'Test # 2090']
['1', '6', '-', '-', '-', '-', '-', '', 'v Australia', "Lord's", '18 Jul 2013', 'Test # 2091']
['2', '-', 'DNB', '-', '-', '0', '0', '', 'v Australia', "Lord's", '18 Jul 2013', 'Test # 2091']
['3', '180', '-', '-', '-', '-', '-', '', 'v Australia', "Lord's", '18 Jul 2013', 'Test # 2091']
['4', '-', '7.0', '9', '2', '0', '0', '', 'v Australia', "Lord's", '18 Jul 2013', 'Test # 2091']
['1', '-', '4.0', '18', '0', '0', '0', '', 'v Australia', 'Manchester', '1 Aug 2013', 'Test # 2092']
['2', '8', '-', '-', '-', '-', '-', '', 'v Australia', 'Manchester', '1 Aug 2013', 'Test # 2092']
['3', '-', 'DNB', '-', '-', '1', '0', '', 'v Australia', 'Manchester', '1 Aug 2013', 'Test # 2092']
['4', '13*', '-', '-', '-', '-', '-', '', 'v Australia', 'Manchester', '1 Aug 2013', 'Test # 2092']
['1', '16', '-', '-', '-', '-', '-', '', 'v Australia', 'Chester-le-Street', '9 Aug 2013', 'Test # 2093']
['2', '-', 'DNB', '-', '-', '0', '0', '', 'v Australia', 'Chester-le-Street', '9 Aug 2013', 'Test # 2093']
['3', '2', '-', '-', '-', '-', '-', '', 'v Australia', 'Chester-le-Street', '9 Aug 2013', 'Test # 2093']
['4', '-', '3.0', '1', '0', '0', '0', '', 'v Australia', 'Chester-le-Street', '9 Aug 2013', 'Test # 2093']
['1', '-', 'DNB', '-', '-', '0', '0', '', 'v Australia', 'The Oval', '21 Aug 2013', 'Test # 2094']
['2', '68', '-', '-', '-', '-', '-', '', 'v Australia', 'The Oval', '21 Aug 2013', 'Test # 2094']
['3', '-', 'DNB', '-', '-', '0', '0', '', 'v Australia', 'The Oval', '21 Aug 2013', 'Test # 2094']
['4', '11', '-', '-', '-', '-', '-', '', 'v Australia', 'The Oval', '21 Aug 2013', 'Test # 2094']
['1', '-', '3.0', '5', '0', '0', '0', '', 'v Australia', 'Brisbane', '21 Nov 2013', 'Test # 2103']
['2', '2', '-', '-', '-', '-', '-', '', 'v Australia', 'Brisbane', '21 Nov 2013', 'Test # 2103']
['3', '-', '15.0', '57', '0', '0', '0', '', 'v Australia', 'Brisbane', '21 Nov 2013', 'Test # 2103']
['4', '26*', '-', '-', '-', '-', '-', '', 'v Australia', 'Brisbane', '21 Nov 2013', 'Test # 2103']
['1', '-', 'DNB', '-', '-', '0', '0', '', 'v Australia', 'Adelaide', '5 Dec 2013', 'Test # 2105']
['2', '15', '-', '-', '-', '-', '-', '', 'v Australia', 'Adelaide', '5 Dec 2013', 'Test # 2105']
['3', '-', 'DNB', '-', '-', '0', '0', '', 'v Australia', 'Adelaide', '5 Dec 2013', 'Test # 2105']
['4', '87', '-', '-', '-', '-', '-', '', 'v Australia', 'Adelaide', '5 Dec 2013', 'Test # 2105']
['1', '-', '1.0', '4', '0', '1', '0', '', 'v Australia', 'Perth', '13 Dec 2013', 'Test # 2107']
['2', '4', '-', '-', '-', '-', '-', '', 'v Australia', 'Perth', '13 Dec 2013', 'Test # 2107']
['3', '-', '9.0', '24', '0', '0', '0', '', 'v Australia', 'Perth', '13 Dec 2013', 'Test # 2107']
['4', '19', '-', '-', '-', '-', '-', '', 'v Australia', 'Perth', '13 Dec 2013', 'Test # 2107']
['1', '24', '-', '-', '-', '-', '-', '', 'v Australia', 'Melbourne', '26 Dec 2013', 'Test # 2110']
['2', '-', 'DNB', '-', '-', '1', '0', '', 'v Australia', 'Melbourne', '26 Dec 2013', 'Test # 2110']
['3', '15', '-', '-', '-', '-', '-', '', 'v Australia', 'Melbourne', '26 Dec 2013', 'Test # 2110']
['4', '-', '4.0', '8', '0', '0', '0', '', 'v Australia', 'Melbourne', '26 Dec 2013', 'Test # 2110']
['1', '200*', '-', '-', '-', '-', '-', '', 'v Sri Lanka', "Lord's", '12 Jun 2014', 'Test # 2124']
['2', '-', '3.0', '7', '0', '0', '0', '', 'v Sri Lanka', "Lord's", '12 Jun 2014', 'Test # 2124']
['3', '15', '-', '-', '-', '-', '-', '', 'v Sri Lanka', "Lord's", '12 Jun 2014', 'Test # 2124']
['4', '-', '4.0', '7', '0', '0', '0', '', 'v Sri Lanka', "Lord's", '12 Jun 2014', 'Test # 2124']
['1', '-', '1.0', '9', '0', '0', '0', '', 'v Sri Lanka', 'Leeds', '20 Jun 2014', 'Test # 2126']
['2', '13', '-', '-', '-', '-', '-', '', 'v Sri Lanka', 'Leeds', '20 Jun 2014', 'Test # 2126']
['3', '-', 'DNB', '-', '-', '1', '0', '', 'v Sri Lanka', 'Leeds', '20 Jun 2014', 'Test # 2126']
['4', '31', '-', '-', '-', '-', '-', '', 'v Sri Lanka', 'Leeds', '20 Jun 2014', 'Test # 2126']
['1', '-', '1.0', '6', '0', '2', '0', '', 'v India', 'Nottingham', '9 Jul 2014', 'Test # 2128']
['2', '154*', '-', '-', '-', '-', '-', '', 'v India', 'Nottingham', '9 Jul 2014', 'Test # 2128']
['3', '-', '12.0', '22', '0', '0', '0', '', 'v India', 'Nottingham', '9 Jul 2014', 'Test # 2128']
['1', '-', 'DNB', '-', '-', '0', '0', '', 'v India', "Lord's", '17 Jul 2014', 'Test # 2130']
['2', '13', '-', '-', '-', '-', '-', '', 'v India', "Lord's", '17 Jul 2014', 'Test # 2130']
['3', '-', 'DNB', '-', '-', '1', '0', '', 'v India', "Lord's", '17 Jul 2014', 'Test # 2130']
['4', '66', '-', '-', '-', '-', '-', '', 'v India', "Lord's", '17 Jul 2014', 'Test # 2130']
['1', '3', '-', '-', '-', '-', '-', '', 'v India', 'Southampton', '27 Jul 2014', 'Test # 2132']
['2', '-', 'DNB', '-', '-', '0', '0', '', 'v India', 'Southampton', '27 Jul 2014', 'Test # 2132']
['3', '56', '-', '-', '-', '-', '-', '', 'v India', 'Southampton', '27 Jul 2014', 'Test # 2132']
['4', '-', '2.0', '5', '1', '0', '0', '', 'v India', 'Southampton', '27 Jul 2014', 'Test # 2132']
['1', '-', 'DNB', '-', '-', '1', '0', '', 'v India', 'Manchester', '7 Aug 2014', 'Test # 2134']
['2', '77', '-', '-', '-', '-', '-', '', 'v India', 'Manchester', '7 Aug 2014', 'Test # 2134']
['3', '-', 'DNB', '-', '-', '0', '0', '', 'v India', 'Manchester', '7 Aug 2014', 'Test # 2134']
['1', '-', 'DNB', '-', '-', '2', '0', '', 'v India', 'The Oval', '15 Aug 2014', 'Test # 2137']
['2', '149*', '-', '-', '-', '-', '-', '', 'v India', 'The Oval', '15 Aug 2014', 'Test # 2137']
['3', '-', 'DNB', '-', '-', '0', '0', '', 'v India', 'The Oval', '15 Aug 2014', 'Test # 2137']
['1', '83', '-', '-', '-', '-', '-', '', 'v West Indies', 'North Sound', '13 Apr 2015', 'Test # 2157']
['2', '-', 'DNB', '-', '-', '1', '0', '', 'v West Indies', 'North Sound', '13 Apr 2015', 'Test # 2157']
['3', '59', '-', '-', '-', '-', '-', '', 'v West Indies', 'North Sound', '13 Apr 2015', 'Test # 2157']
['4', '-', '13.0', '22', '2', '1', '0', '', 'v West Indies', 'North Sound', '13 Apr 2015', 'Test # 2157']
['1', '-', 'DNB', '-', '-', '1', '0', '', 'v West Indies', "St George's", '21 Apr 2015', 'Test # 2158']
['2', '182*', '-', '-', '-', '-', '-', '', 'v West Indies', "St George's", '21 Apr 2015', 'Test # 2158']
['3', '-', '16.0', '29', '0', '1', '0', '', 'v West Indies', "St George's", '21 Apr 2015', 'Test # 2158']
['4', 'DNB', '-', '-', '-', '-', '-', '', 'v West Indies', "St George's", '21 Apr 2015', 'Test # 2158']
['1', '33', '-', '-', '-', '-', '-', '', 'v West Indies', 'Bridgetown', '1 May 2015', 'Test # 2160']
['2', '-', '9.0', '34', '1', '0', '0', '', 'v West Indies', 'Bridgetown', '1 May 2015', 'Test # 2160']
['3', '1', '-', '-', '-', '-', '-', '', 'v West Indies', 'Bridgetown', '1 May 2015', 'Test # 2160']
['4', '-', '8.0', '16', '0', '0', '0', '', 'v West Indies', 'Bridgetown', '1 May 2015', 'Test # 2160']
['1', '98', '-', '-', '-', '-', '-', '', 'v New Zealand', "Lord's", '21 May 2015', 'Test # 2162']
['2', '-', '2.0', '6', '0', '2', '0', '', 'v New Zealand', "Lord's", '21 May 2015', 'Test # 2162']
['3', '84', '-', '-', '-', '-', '-', '', 'v New Zealand', "Lord's", '21 May 2015', 'Test # 2162']
['4', '-', '5.0', '7', '1', '1', '0', '', 'v New Zealand', "Lord's", '21 May 2015', 'Test # 2162']
['1', '-', 'DNB', '-', '-', '1', '0', '', 'v New Zealand', 'Leeds', '29 May 2015', 'Test # 2163']
['2', '1', '-', '-', '-', '-', '-', '', 'v New Zealand', 'Leeds', '29 May 2015', 'Test # 2163']
['3', '-', '5.0', '23', '0', '2', '0', '', 'v New Zealand', 'Leeds', '29 May 2015', 'Test # 2163']
['4', '0', '-', '-', '-', '-', '-', '', 'v New Zealand', 'Leeds', '29 May 2015', 'Test # 2163']
['1', '134', '-', '-', '-', '-', '-', '', 'v Australia', 'Cardiff', '8 Jul 2015', 'Test # 2170']
['2', '-', 'DNB', '-', '-', '1', '0', '', 'v Australia', 'Cardiff', '8 Jul 2015', 'Test # 2170']
['3', '60', '-', '-', '-', '-', '-', '', 'v Australia', 'Cardiff', '8 Jul 2015', 'Test # 2170']
['4', '-', '6.0', '28', '2', '1', '0', '', 'v Australia', 'Cardiff', '8 Jul 2015', 'Test # 2170']
['1', '-', '12.0', '55', '2', '0', '0', '', 'v Australia', "Lord's", '16 Jul 2015', 'Test # 2171']
['2', '1', '-', '-', '-', '-', '-', '', 'v Australia', "Lord's", '16 Jul 2015', 'Test # 2171']
['3', '-', '5.0', '32', '0', '0', '0', '', 'v Australia', "Lord's", '16 Jul 2015', 'Test # 2171']
['4', '17', '-', '-', '-', '-', '-', '', 'v Australia', "Lord's", '16 Jul 2015', 'Test # 2171']
['1', '-', 'DNB', '-', '-', '0', '0', '', 'v Australia', 'Birmingham', '29 Jul 2015', 'Test # 2173']
['2', '63', '-', '-', '-', '-', '-', '', 'v Australia', 'Birmingham', '29 Jul 2015', 'Test # 2173']
['3', '-', '2.3', '7', '0', '1', '0', '', 'v Australia', 'Birmingham', '29 Jul 2015', 'Test # 2173']
['4', '38*', '-', '-', '-', '-', '-', '', 'v Australia', 'Birmingham', '29 Jul 2015', 'Test # 2173']
['1', '-', 'DNB', '-', '-', '3', '0', '', 'v Australia', 'Nottingham', '6 Aug 2015', 'Test # 2175']
['2', '130', '-', '-', '-', '-', '-', '', 'v Australia', 'Nottingham', '6 Aug 2015', 'Test # 2175']
['3', '-', 'DNB', '-', '-', '2', '0', '', 'v Australia', 'Nottingham', '6 Aug 2015', 'Test # 2175']
['1', '-', '3.0', '13', '0', '0', '0', '', 'v Australia', 'The Oval', '20 Aug 2015', 'Test # 2178']
['2', '6', '-', '-', '-', '-', '-', '', 'v Australia', 'The Oval', '20 Aug 2015', 'Test # 2178']
['3', '11', '-', '-', '-', '-', '-', '', 'v Australia', 'The Oval', '20 Aug 2015', 'Test # 2178']
['1', '-', '5.0', '13', '0', '0', '0', '', 'v Pakistan', 'Abu Dhabi', '13 Oct 2015', 'Test # 2180']
['2', '85', '-', '-', '-', '-', '-', '', 'v Pakistan', 'Abu Dhabi', '13 Oct 2015', 'Test # 2180']
['3', '-', 'DNB', '-', '-', '0', '0', '', 'v Pakistan', 'Abu Dhabi', '13 Oct 2015', 'Test # 2180']
['4', '33*', '-', '-', '-', '-', '-', '', 'v Pakistan', 'Abu Dhabi', '13 Oct 2015', 'Test # 2180']
['1', '-', 'DNB', '-', '-', '1', '0', '', 'v Pakistan', 'Dubai (DSC)', '22 Oct 2015', 'Test # 2183']
['2', '88', '-', '-', '-', '-', '-', '', 'v Pakistan', 'Dubai (DSC)', '22 Oct 2015', 'Test # 2183']
['3', '-', '3.0', '26', '0', '1', '0', '', 'v Pakistan', 'Dubai (DSC)', '22 Oct 2015', 'Test # 2183']
['4', '71', '-', '-', '-', '-', '-', '', 'v Pakistan', 'Dubai (DSC)', '22 Oct 2015', 'Test # 2183']
['1', '-', 'DNB', '-', '-', '2', '0', '', 'v Pakistan', 'Sharjah', '1 Nov 2015', 'Test # 2184']
['2', '4', '-', '-', '-', '-', '-', '', 'v Pakistan', 'Sharjah', '1 Nov 2015', 'Test # 2184']
['3', '-', 'DNB', '-', '-', '0', '0', '', 'v Pakistan', 'Sharjah', '1 Nov 2015', 'Test # 2184']
['4', '6', '-', '-', '-', '-', '-', '', 'v Pakistan', 'Sharjah', '1 Nov 2015', 'Test # 2184']
['1', '24', '-', '-', '-', '-', '-', '', 'v South Africa', 'Durban', '26 Dec 2015', 'Test # 2196']
['2', '-', '3.0', '11', '0', '1', '0', '', 'v South Africa', 'Durban', '26 Dec 2015', 'Test # 2196']
['3', '73', '-', '-', '-', '-', '-', '', 'v South Africa', 'Durban', '26 Dec 2015', 'Test # 2196']
['4', '-', 'DNB', '-', '-', '1', '0', '', 'v South Africa', 'Durban', '26 Dec 2015', 'Test # 2196']
['1', '50', '-', '-', '-', '-', '-', '', 'v South Africa', 'Cape Town', '2 Jan 2016', 'Test # 2197']
['2', '-', '20.0', '54', '0', '1', '0', '', 'v South Africa', 'Cape Town', '2 Jan 2016', 'Test # 2197']
['3', '29', '-', '-', '-', '-', '-', '', 'v South Africa', 'Cape Town', '2 Jan 2016', 'Test # 2197']
['1', '-', 'DNB', '-', '-', '0', '0', '', 'v South Africa', 'Johannesburg', '14 Jan 2016', 'Test # 2199']
['2', '110', '-', '-', '-', '-', '-', '', 'v South Africa', 'Johannesburg', '14 Jan 2016', 'Test # 2199']
['3', '-', 'DNB', '-', '-', '0', '0', '', 'v South Africa', 'Johannesburg', '14 Jan 2016', 'Test # 2199']
['4', '4*', '-', '-', '-', '-', '-', '', 'v South Africa', 'Johannesburg', '14 Jan 2016', 'Test # 2199']
['1', '-', 'DNB', '-', '-', '1', '0', '', 'v South Africa', 'Centurion', '22 Jan 2016', 'Test # 2200']
['2', '76', '-', '-', '-', '-', '-', '', 'v South Africa', 'Centurion', '22 Jan 2016', 'Test # 2200']
['3', '-', '4.0', '12', '0', '0', '0', '', 'v South Africa', 'Centurion', '22 Jan 2016', 'Test # 2200']
['4', '20', '-', '-', '-', '-', '-', '', 'v South Africa', 'Centurion', '22 Jan 2016', 'Test # 2200']
['1', '0', '-', '-', '-', '-', '-', '', 'v Sri Lanka', 'Leeds', '19 May 2016', 'Test # 2203']
['2', '-', 'DNB', '-', '-', '0', '0', '', 'v Sri Lanka', 'Leeds', '19 May 2016', 'Test # 2203']
['3', '-', 'DNB', '-', '-', '1', '0', '', 'v Sri Lanka', 'Leeds', '19 May 2016', 'Test # 2203']
['1', '80', '-', '-', '-', '-', '-', '', 'v Sri Lanka', 'Chester-le-Street', '27 May 2016', 'Test # 2204']
['2', '-', 'DNB', '-', '-', '1', '0', '', 'v Sri Lanka', 'Chester-le-Street', '27 May 2016', 'Test # 2204']
['3', '-', '2.0', '13', '0', '1', '0', '', 'v Sri Lanka', 'Chester-le-Street', '27 May 2016', 'Test # 2204']
['4', 'DNB', '-', '-', '-', '-', '-', '', 'v Sri Lanka', 'Chester-le-Street', '27 May 2016', 'Test # 2204']
['1', '3', '-', '-', '-', '-', '-', '', 'v Sri Lanka', "Lord's", '9 Jun 2016', 'Test # 2205']
['2', '-', 'DNB', '-', '-', '3', '0', '', 'v Sri Lanka', "Lord's", '9 Jun 2016', 'Test # 2205']
['3', '4', '-', '-', '-', '-', '-', '', 'v Sri Lanka', "Lord's", '9 Jun 2016', 'Test # 2205']
['4', '-', '0.2', '6', '0', '0', '0', '', 'v Sri Lanka', "Lord's", '9 Jun 2016', 'Test # 2205']
['1', '-', 'DNB', '-', '-', '1', '0', '', 'v Pakistan', "Lord's", '14 Jul 2016', 'Test # 2206']
['2', '48', '-', '-', '-', '-', '-', '', 'v Pakistan', "Lord's", '14 Jul 2016', 'Test # 2206']
['3', '-', 'DNB', '-', '-', '1', '0', '', 'v Pakistan', "Lord's", '14 Jul 2016', 'Test # 2206']
['4', '9', '-', '-', '-', '-', '-', '', 'v Pakistan', "Lord's", '14 Jul 2016', 'Test # 2206']
['1', '254', '-', '-', '-', '-', '-', '', 'v Pakistan', 'Manchester', '22 Jul 2016', 'Test # 2208']
['2', '-', 'DNB', '-', '-', '4', '0', '', 'v Pakistan', 'Manchester', '22 Jul 2016', 'Test # 2208']
['3', '71*', '-', '-', '-', '-', '-', '', 'v Pakistan', 'Manchester', '22 Jul 2016', 'Test # 2208']
['4', '-', '1.0', '0', '1', '0', '0', '', 'v Pakistan', 'Manchester', '22 Jul 2016', 'Test # 2208']
['1', '3', '-', '-', '-', '-', '-', '', 'v Pakistan', 'Birmingham', '3 Aug 2016', 'Test # 2212']
['2', '-', '1.0', '1', '0', '1', '0', '', 'v Pakistan', 'Birmingham', '3 Aug 2016', 'Test # 2212']
['3', '62', '-', '-', '-', '-', '-', '', 'v Pakistan', 'Birmingham', '3 Aug 2016', 'Test # 2212']
['4', '-', '1.0', '4', '0', '1', '0', '', 'v Pakistan', 'Birmingham', '3 Aug 2016', 'Test # 2212']
['1', '26', '-', '-', '-', '-', '-', '', 'v Pakistan', 'The Oval', '11 Aug 2016', 'Test # 2216']
['2', '-', '5.0', '21', '0', '1', '0', '', 'v Pakistan', 'The Oval', '11 Aug 2016', 'Test # 2216']
['3', '39', '-', '-', '-', '-', '-', '', 'v Pakistan', 'The Oval', '11 Aug 2016', 'Test # 2216']
['4', '-', '3.0', '1', '0', '0', '0', '', 'v Pakistan', 'The Oval', '11 Aug 2016', 'Test # 2216']
['1', '40', '-', '-', '-', '-', '-', '', 'v Bangladesh', 'Chattogram', '20 Oct 2016', 'Test # 2225']
['2', '-', '2.0', '5', '0', '1', '0', '', 'v Bangladesh', 'Chattogram', '20 Oct 2016', 'Test # 2225']
['3', '1', '-', '-', '-', '-', '-', '', 'v Bangladesh', 'Chattogram', '20 Oct 2016', 'Test # 2225']
['4', '-', 'DNB', '-', '-', '1', '0', '', 'v Bangladesh', 'Chattogram', '20 Oct 2016', 'Test # 2225']
['1', '-', 'DNB', '-', '-', '1', '0', '', 'v Bangladesh', 'Dhaka', '28 Oct 2016', 'Test # 2227']
['2', '56', '-', '-', '-', '-', '-', '', 'v Bangladesh', 'Dhaka', '28 Oct 2016', 'Test # 2227']
['3', '-', 'DNB', '-', '-', '1', '0', '', 'v Bangladesh', 'Dhaka', '28 Oct 2016', 'Test # 2227']
['4', '1', '-', '-', '-', '-', '-', '', 'v Bangladesh', 'Dhaka', '28 Oct 2016', 'Test # 2227']
['1', '124', '-', '-', '-', '-', '-', '', 'v India', 'Rajkot', '9 Nov 2016', 'Test # 2232']
['2', '-', 'DNB', '-', '-', '0', '0', '', 'v India', 'Rajkot', '9 Nov 2016', 'Test # 2232']
['3', '4', '-', '-', '-', '-', '-', '', 'v India', 'Rajkot', '9 Nov 2016', 'Test # 2232']
['4', '-', '2.0', '5', '0', '2', '0', '', 'v India', 'Rajkot', '9 Nov 2016', 'Test # 2232']
['1', '-', '2.0', '9', '0', '0', '0', '', 'v India', 'Visakhapatnam', '17 Nov 2016', 'Test # 2235']
['2', '53', '-', '-', '-', '-', '-', '', 'v India', 'Visakhapatnam', '17 Nov 2016', 'Test # 2235']
['3', '-', 'DNB', '-', '-', '1', '0', '', 'v India', 'Visakhapatnam', '17 Nov 2016', 'Test # 2235']
['4', '25', '-', '-', '-', '-', '-', '', 'v India', 'Visakhapatnam', '17 Nov 2016', 'Test # 2235']
['1', '15', '-', '-', '-', '-', '-', '', 'v India', 'Mohali', '26 Nov 2016', 'Test # 2238']
['2', '-', 'DNB', '-', '-', '0', '0', '', 'v India', 'Mohali', '26 Nov 2016', 'Test # 2238']
['3', '78', '-', '-', '-', '-', '-', '', 'v India', 'Mohali', '26 Nov 2016', 'Test # 2238']
['4', '-', 'DNB', '-', '-', '2', '0', '', 'v India', 'Mohali', '26 Nov 2016', 'Test # 2238']
['1', '21', '-', '-', '-', '-', '-', '', 'v India', 'Mumbai', '8 Dec 2016', 'Test # 2239']
['2', '-', '10.0', '31', '2', '0', '0', '', 'v India', 'Mumbai', '8 Dec 2016', 'Test # 2239']
['3', '77', '-', '-', '-', '-', '-', '', 'v India', 'Mumbai', '8 Dec 2016', 'Test # 2239']
['1', '88', '-', '-', '-', '-', '-', '', 'v India', 'Chennai', '16 Dec 2016', 'Test # 2241']
['2', '-', '2.0', '12', '0', '0', '0', '', 'v India', 'Chennai', '16 Dec 2016', 'Test # 2241']
['3', '6', '-', '-', '-', '-', '-', '', 'v India', 'Chennai', '16 Dec 2016', 'Test # 2241']
['1', '190', '-', '-', '-', '-', '-', '', 'v South Africa', "Lord's", '6 Jul 2017', 'Test # 2262']
['2', '-', 'DNB', '-', '-', '0', '0', '', 'v South Africa', "Lord's", '6 Jul 2017', 'Test # 2262']
['3', '5', '-', '-', '-', '-', '-', '', 'v South Africa', "Lord's", '6 Jul 2017', 'Test # 2262']

That looks ideal for now.

In [36]:
headers = [header.get_text() for header in main_table.find('thead').find_all('tr')[0].find_all('th')]
rows = []

for innings in [row for row in main_table.find('tbody').find_all('tr')]:
    rows.append([stat.get_text() for stat in innings.find_all('td')])

In [37]:
headers

['Inns',
 'Score',
 'Overs',
 'Conc',
 'Wkts',
 'Ct',
 'St',
 '',
 'Opposition',
 'Ground',
 'Start Date',
 '']

In [40]:
rows[:2]

[['1',
  '73',
  '-',
  '-',
  '-',
  '-',
  '-',
  '',
  'v India',
  'Nagpur',
  '13 Dec 2012',
  'Test # 2066'],
 ['2',
  '-',
  '1.0',
  '5',
  '0',
  '0',
  '0',
  '',
  'v India',
  'Nagpur',
  '13 Dec 2012',
  'Test # 2066']]

In [46]:
len(headers)

12

In [47]:
len(rows)

327

In [48]:
len(rows[0])

12

This is encouraging that it looks like we have pulled the data in the right dimensions, so it should hopefully align.

In [50]:
pd.DataFrame(rows, columns=headers)

,Inns,Score,Overs,Conc,Wkts,Ct,St,,Opposition,Ground,Start Date,
0,1,73,-,-,-,-,-,,v India,Nagpur,13 Dec 2012,Test # 2066
1,2,-,1.0,5,0,0,0,,v India,Nagpur,13 Dec 2012,Test # 2066
2,3,20*,-,-,-,-,-,,v India,Nagpur,13 Dec 2012,Test # 2066
3,1,4,-,-,-,-,-,,v New Zealand,Dunedin,6 Mar 2013,Test # 2077
4,2,-,5.0,8,0,0,0,,v New Zealand,Dunedin,6 Mar 2013,Test # 2077
5,3,0,-,-,-,-,-,,v New Zealand,Dunedin,6 Mar 2013,Test # 2077
6,1,10,-,-,-,-,-,,v New Zealand,Wellington,14 Mar 2013,Test # 2080
7,2,-,1.0,6,0,0,0,,v New Zealand,Wellington,14 Mar 2013,Test # 2080
8,3,-,2.0,12,0,0,0,,v New Zealand,Wellington,14 Mar 2013,Test # 2080
9,1,-,2.0,5,0,0,0,,v New Zealand,Auckland,22 Mar 2013,Test # 2084
10,2,45,-,-,-,-,-,,v New Zealand,Auckland,22 Mar 2013,Test # 2084
11,3,-,DNB,-,-,1,0,,v New Zealand,Auckland,22 Mar 2013,Test # 2084
12,4,29,-,-,-,-,-,,v New Zealand,Auckland,22 Mar 2013,Test # 2084
13,1,40,-,-,-,-,-,,v New Zealand,Lord's,16 May 2013,Test # 2088
14,2,-,DNB,-,-,1,0,,v New Zealand,Lord's,16 May 2013,Test # 2088
15,3,71,-,-,-,-,-,,v New Zealand,Lord's,16 May 2013,Test # 2088
16,4,-,DNB,-,-,1,0,,v New Zealand,Lord's,16 May 2013,Test # 2088
17,1,104,-,-,-,-,-,,v New Zealand,Leeds,24 May 2013,Test # 2089
18,2,-,DNB,-,-,0,0,,v New Zealand,Leeds,24 May 2013,Test # 2089
19,3,28,-,-,-,-,-,,v New Zealand,Leeds,24 May 2013,Test # 2089
20,4,-,3.0,1,0,1,0,,v New Zealand,Leeds,24 May 2013,Test # 2089
21,1,30,-,-,-,-,-,,v Australia,Nottingham,10 Jul 2013,Test # 2090
22,2,-,DNB,-,-,1,0,,v Australia,Nottingham,10 Jul 2013,Test # 2090
23,3,5,-,-,-,-,-,,v Australia,Nottingham,10 Jul 2013,Test # 2090
24,4,-,2.0,6,1,0,0,,v Australia,Nottingham,10 Jul 2013,Test # 2090
25,1,6,-,-,-,-,-,,v Australia,Lord's,18 Jul 2013,Test # 2091
26,2,-,DNB,-,-,0,0,,v Australia,Lord's,18 Jul 2013,Test # 2091
27,3,180,-,-,-,-,-,,v Australia,Lord's,18 Jul 2013,Test # 2091
28,4,-,7.0,9,2,0,0,,v Australia,Lord's,18 Jul 2013,Test # 2091
29,1,-,4.0,18,0,0,0,,v Australia,Manchester,1 Aug 2013,Test # 2092
...,...,...,...,...,...,...,...,...,...,...,...,...
297,1,15,-,-,-,-,-,,v West Indies,Gros Islet,9 Feb 2019,Test # 2346
298,2,-,DNB,-,-,2,0,,v West Indies,Gros Islet,9 Feb 2019,Test # 2346
299,3,122,-,-,-,-,-,,v West Indies,Gros Islet,9 Feb 2019,Test # 2346
300,4,-,DNB,-,-,1,0,,v West Indies,Gros Islet,9 Feb 2019,Test # 2346
301,1,2,-,-,-,-,-,,v Ireland,Lord's,24 Jul 2019,Test # 2352
302,2,-,DNB,-,-,1,0,,v Ireland,Lord's,24 Jul 2019,Test # 2352
303,3,31,-,-,-,-,-,,v Ireland,Lord's,24 Jul 2019,Test # 2352
304,4,-,DNB,-,-,4,0,,v Ireland,Lord's,24 Jul 2019,Test # 2352
305,1,-,DNB,-,-,1,0,,v Australia,Birmingham,1 Aug 2019,Test # 2353
306,2,57,-,-,-,-,-,,v Australia,Birmingham,1 Aug 2019,Test # 2353
307,3,-,12.0,50,0,0,0,,v Australia,Birmingham,1 Aug 2019,Test # 2353
308,4,28,-,-,-,-,-,,v Australia,Birmingham,1 Aug 2019,Test # 2353
309,1,14,-,-,-,-,-,,v Australia,Lord's,14 Aug 2019,Test # 2355
310,2,-,DNB,-,-,0,0,,v Australia,Lord's,14 Aug 2019,Test # 2355
311,3,0,-,-,-,-,-,,v Australia,Lord's,14 Aug 2019,Test # 2355
312,4,-,1.0,7,0,1,0,,v Australia,Lord's,14 Aug 2019,Test # 2355
313,1,-,DNB,-,-,1,0,,v Australia,Leeds,22 Aug 2019,Test # 2357
314,2,0,-,-,-,-,-,,v Australia,Leeds,22 Aug 2019,Test # 2357
315,3,-,DNB,-,-,1,0,,v Australia,Leeds,22 Aug 2019,Test # 2357
316,4,77,-,-,-,-,-,,v Australia,Leeds,22 Aug 2019,Test # 2357
317,1,-,6.0,39,1,1,0,,v Australia,Manchester,4 Sep 2019,Test # 2360
318,2,71,-,-,-,-,-,,v Australia,Manchester,4 Sep 2019,Test # 2360
319,3,-,DNB,-,-,0,0,,v Australia,Manchester,4 Sep 2019,Test # 2360
320,4,0,-,-,-,-,-,,v Australia,Manchester,4 Sep 2019,Test # 2360
321,1,57,-,-,-,-,-,,v Australia,The Oval,12 Sep 2019,Test # 2362
322,2,-,DNB,-,-,0,0,,v Australia,The Oval,12 Sep 2019,Test # 2362
323,3,21,-,-,-,-,-,,v Australia,The Oval,12 Sep 2019,Test # 2362
324,4,-,9.0,26,2,2,0,,v Australia,The Oval,12 Sep 2019,Test # 2362
325,1,2,-,-,-,-,-,,v New Zealand,Mount Maunganui,21 Nov 2019,Test # 2367
326,2,-,1.0,2,0,0,0,,v New Zealand,Mount Maunganui,21 Nov 2019,Test # 2367